<!DOCTYPE html>
<html lang="en" ng-app="TaskApp">
<head>
    <meta charset="UTF-8">
    <title>Futurism's To Do List</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src = "/bower_components/jquery/dist/jquery.js"></script>
    <script src = "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src = "/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="/index.css">
    <script src="/task.js"></script>
</head>
<body ng-controller="TaskCtrl as taskCtrl">
    
    <div id="header">Futurism's To Do List</div>
    <div id="obj-wrapper" class="container-fluid">
        <div class="row">        
            <div class="col-xs-12 col-md-3" id="left">

 
                <div class="btn-group-vertical">
                    <form>
                         <input type="text" class="form-control" placeholder="Search Tasks"></input>
                    </form>
                    <br>
                    <button type="button" class="btn btn-default">Task Schedule</button>
                    <br>
                    <button type="button" class="btn btn-default">Full Stack Foundation</button>
                    <button type="button" class="btn btn-default">Personal Development</button>
                    <button type="button" class="btn btn-default">Errands</button>
                    <button type="button" class="btn btn-default">Uncategorized</button>


                </div>
            </div>
            
            <div class="col-xs-12 col-md-9" id="right">
                <!--Add New Task-->
                <form class="form-inline form-label" ng-model="taskCtrl.array" novalidate>
                        
                        Task : <input type="text" class="form-control" placeholder="What would you like to do?" required 
                                ng-model="taskCtrl.task"></input>
                        Due Date : <input type="date" class="form-control" ng-model="taskCtrl.duedate"></input>

                <div class="form-group">
                    <label>Category :</label>
                    <select class="form-control" required ng-model="taskCtrl.category">
                        <option ng-repeat="x in taskCtrl.categoryLabel" value="{{x}}">{{x}}</option>
                        <!-- <option value="Full Stack Foundation">Full Stack Foundation</option>
                        <option value="Personal Development">Personal Development</option>
                        <option value="Errands">Errands</option> -->
                    </select>
                </div>

                    <button type = "submit" class="btn btn-default" ng-click="taskCtrl.add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </form>
                <!--List of Tasks-->
                <br/>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Tasks</td>
                            <td>Due Date</td>
                            <td>Category</td>      
                            <td>Status</td>           
                            <td></td>                           
                        </tr>
                    </thead>
                    <tbody>
                            
                        <tr ng-repeat="i in taskCtrl.array track by $index">
                            <td>{{i.task}}</td>
                            <td>{{i.formattedDate}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.status}}</td>           
                            <td>
                                <button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true" ng-click="taskCtrl.completed($index)" ></i></button>
                                <button type="submit" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true" ng-click="taskCtrl.edit($index)"></i></button>
                                <button type="submit" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true" ng-click="taskCtrl.delete($index)"></i></button>
                            </td>           
                        </tr>  


            
                    </tbody>
                </table>
                        

            </div>   
        </div>
    </div>
</body>
</html>