body {
    background-image: url("desk_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

#header {
    font-size: 2em;
    background: rgba(255,255,255,0.7);
    margin: 25px 0px 0px 0px;
    width: cover;
    height: 40px;
    border-radius: 0px;
    padding-left: 15px;
}

#obj-wrapper {
    font-size: 1em;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: auto;
    position: center;

}

#left {
    text-align: center;
    background-color: rgba(239,242,247,0.95);
    border-radius: 5px;
    padding: 30px 40px 30px 40px ;
    height: 500px;
    overflow: auto; 

}

#right {
    background-color: rgba(255,255,255,0.95);
    border-radius: 5px;
    padding: 30px 30px 30px 30px ;
    height: 500px;
    overflow: auto;
}

.form-label {
    font-weight: bold;
}


#taskBox {
    font-size: 1em;  
}

